[Desktop Entry]
Type=Application
Version=1.0
Name=Install ParchaOS
GenericName=System Installer
Keywords=calamares;system;installer;
TryExec=calamares
Exec=/usr/local/bin/parchaos-launch-calamares
Comment=Install ParchaOS on this computer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
