[Unit]
Description=Play the ParchaOS startup sound
After=sound.target

[Service]
Type=oneshot
ExecStart=/usr/bin/paplay /usr/share/sounds/pearOS-sounds/stereo/desktop-login.oga

[Install]
WantedBy=default.target
